<!DOCTYPE html>
<html>
  <head>
    <title> ALL EMPLOYEE LIST </title>
  </head>
  <body>
    <div style='width:100%;'>
    <form method='post'>
      <table style="width:100%;border: 2px, solid;" allign="middle" border="20">
        <thead>
          <td> SL </td>
          <td> ID </td>
          <td> Name </td>
          <td> Mobile </td>
          <td> Satus </td>
          <!--<td> ACTION </td>
          <td> ACTION </td>-->
        </thead>

        <tbody>
            <% for(var i=0; i < list.length; i++){ %>
            <tr>
              <td><%= list[i].id %></td>
              <td><%= list[i].username %></td>
              <td><%= list[i].fname %></td>
              <td><%= list[i].con %></td>
              <td><%= list[i].status %></td>
              <td> <a a href="/admin/update/<%= list[i].username %>">UPDATE</a></td>
              <td> <a a href="/admin/delete/<%= list[i].username %>">DELETE</a></td>
            </tr>
            <% } %>
          </tbody>
      </table>
      <a href="/logout"> LOGOUT </a>
    </div>

    </form>

  </body>
</html>
